@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}
@font-face {
    font-family: "FenulMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(font/FenulStandard-TRIAL-Medium.woff2) format("woff2");
}


.wrapper10{
    width: 100%;
    height: 100vh;
    display: column;
    flex-direction: row;
    z-index: -1;
}

.navigation10{
    display:flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
}



.navtitle10{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.homebtn10{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
}



body {
  background-color:  black;
}

.button10container {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

.button10 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  white;
  font-family: "HyperMedium", sans-serif;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  text-align:  center;
  transition:  all 100ms;
}

.button10:hover {
  background-color: #DBA111;
  cursor:  pointer;
  font-size: 80px;
}

.buttonOn {
  background-color:  rgb(255, 255, 255);
}

.light {
  background-color: #034694;
}

