    
@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}


.desktop {
  	width: 100%;
  	height: 1510px;
  	background-color: #fff;
  	text-align: left;
  	font-size: 48px;
  	color: #000;
}
.title {
  	width: 100%;
  	top: 20px;
  	left: 0px;
    letter-spacing: -0.4rem;
  	font-size: 250px;
  	line-height: 80%;
  	display: flex;
  	align-items: left;
  	height: 490px;
    font-family: "HyperRegular", sans-serif;
}
.title-container {
  	width: 100%;
}
.chelsea {
  	margin: 0;
}
.slogan {
  	position: absolute;
  	top: 694px;
  	left: 9px;
  	font-size: 64px;
  	line-height: 80%;
  	font-weight: 500;
    font-family: "HyperMedium", sans-serif;
}
.buttonColumn{
  	position: absolute;
  	top: 1200px;
  	left: 9px;
  	display: flex;
  	flex-direction: column;
  	gap: 128px;
}
.history.Btn {

    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}
.team.Btn {

    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}

.archive.Btn {

    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}

.Btn:hover{
    text-decoration: none;
    color: #dba111
}

.logo {
  	position: absolute;
  	top: 517px;
  	right: 9px;
  	width: 238px;
  	height: 238px;
  	object-fit: cover;
    font-family: "HyperMedium", sans-serif;
}



@media (max-width: 650px) {
	.desktop{
		height:800px;
	}
	
	
	.title {
		font-size: 160px;
		height:100px;
		top:70px;

		letter-spacing: -0.5rem;

  	}
	.logo {
		width: 100px;
		height: 100px;
		top: 230px;

  	}
	.Btn{
		font-size: 25px;
	}
	.buttonColumn{
		top: 850px;
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	
	.slogan{
		font-size: 30px;
		top: 300px;
	}
}