@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}


.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logocontainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.logogif{
    height: 80%;
    margin-top: 5%;
}

.navbarlow{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

