
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}


@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}


.wrapper {
  	width: 100%;
  	height: 100vh;
  	background-color: #fff;
  	text-align: left;
  	font-size: 48px;
  	color: #000;
}

.navbar{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.navelements{
	display:flex;
	width: 100%;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
}

.btn{
	font-family: 'HyperMedium', sans-serif;
	font-size: 24px;
	color: #000000;
	text-decoration: none;
	margin-right: 15px;
	margin-top: 10px;
	border: none;
	background: none;
	cursor: pointer;

}

.btn:hover{
	color: #DBA111;
}



.logocontainer{
    width: 100%;
    min-height: 80%;
    flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
}




.logogif{
    width: 30vw;
    max-width: 320px;
    height: auto;
    max-height: 70vh;
	margin-top: 5%;
	margin-bottom: 5%;
}


.navbarlow{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
	padding: 0px 20px 20px 20px;
	height: 10%;
}










@media (max-width: 650px) {
	html, body {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
	}

	.wrapper {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
	  	height: 100vh;
		display: flex;
		flex-direction: column;
	  	background-color: #fff;
	  	text-align: left;
	  	font-size: 48px;
	  	color: #000;
	}

	.navbar{
		width: 100%;
		height: 10%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.navelements{
		display:flex;
		width: 100%;
		justify-content: space-between;
		padding: 0px 20px 0px 20px;
	}

	.btn{
		font-family: 'HyperMedium', sans-serif;
		font-size: 24px;
		color: #000000;
		text-decoration: none;
		margin-right: 15px;
		margin-top: 10px;
		border: none;
		background: none;
	}

	.logocontainer{
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logogif{
	    width: 70vw;
		max-width: 280px;
		height: auto;
		max-height: 60vh;
		margin-top: 5%;

	}

	.navbarlow{
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: stretch;
		flex-direction: column;
		gap: 12px;
		padding: 0px 20px 20px 20px;
		height: auto;
		margin-top: auto;
	}

	.navbarlow .btn{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}
