    
@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}


.wrapper {
  	width: 100%;
  	height: 100%;
  	background-color: #fff;
  	text-align: left;
  	font-size: 48px;
  	color: #000;
}

.navbar{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.navelements{
	display:flex;
	width: 100%;
	justify-content: space-between;
}

.btn{
	font-family: 'HyperMedium', sans-serif;
	font-size: 24px;
	color: #000000;
	text-decoration: none;
	margin-right: 15px;
	margin-top: 10px;
	border: none;
	background: none;

}



.logocontainer{
    width: 50 vh;
    height: 10 vh;
    display: flex;
	justify-content: center;
	align-items: center;
}




.logogif{
    height: 50%;
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
}


.navbarlow{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}










@media (max-width: 650px) {
	.desktop{
		height:800px;
	}
	
	
	.title {
		font-size: 160px;
		height:100px;
		top:70px;

		letter-spacing: -0.5rem;

  	}
	.logo {
		width: 100px;
		height: 100px;
		top: 230px;

  	}
	.Btn{
		font-size: 25px;
	}
	.buttonColumn{
		top: 850px;
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	
	.slogan{
		font-size: 30px;
		top: 300px;
	}
}