* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}

@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}

@font-face {
    font-family: "RondeauMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/RondeauTest-Regular.woff) format("woff2");
}

.wrapper9{
    width: 100%;
    height: 100vh;
    display: column;
    background-color:rgb(255, 255, 255);
    flex-direction: row;
    z-index: -1;
}

.navigation9{
    display:flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    background-color:white;
}

.navtitle9{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}
.homebtn9{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
}

.titlecontainer9{
    display:flex;
    width: 100%;
    height: 50vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleheader9{
    font-family: 'RondeauMedium',serif;
    font-size: 120px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    width: 80vh;
}

.starcontainer9{
    display:flex;
    justify-content: end;
    margin-right: 20px;
}

@keyframes starSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}

@keyframes colorSwap {
    0% {
        fill: #184891;
    }
    50% {
        fill: #DBA111;
    }
    100% {
        fill: #184891;
    }
}



.cls-1 {
    fill: #184891;
}

#bluestar9 {
    width: 400px;   /* pick the size you want */
    height: 400px;
    animation: starSpin 8s linear infinite;
}

#bluestar9:hover .cls-1 {
    animation: colorSwap 2s infinite;
}
