@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}
@font-face {
    font-family: "FenulMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url("../font/FenulStandard-TRIAL-Medium.woff2") format("woff2");
}

html, body{
    margin: 0;
    padding: 0;
}

.bg3{
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(100%);
    margin: 0;
}



.wrapper3{
    width: 100vw;
    height: 100vh;
    display: column;
    flex-direction: row;
    z-index: -1;
    margin:0;
}

.navigation3{
    display:flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    position: fixed;
}



.navtitle3{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.homebtn3{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
}


.header3{
    display: flex;
    align-items: center;
    height: 30vh;
    width: 100%;
    padding-top: 75px;
    justify-content: space-between;
    flex-wrap: nowrap; /* keep heading parts on one line */
    background-color: rgb(255, 255, 255);
    margin: 0;

}

.first{
    font-family: 'FenulMedium', serif;
    font-size: clamp(48px, 10vw, 130px); /* responsive scale */
    color: #000000;
    margin-left: 15px;
}

.second{
    font-family: 'HyperRegular', sans-serif;
    font-size: clamp(48px, 10vw, 130px); /* responsive scale */
    color: #000000;
    margin-right: 15px;

}

.headingtext3{
    white-space: nowrap; /* prevent wrapping within the heading text */
}

.contentcontainer3{
    width: 100%;
    height: 160vh;
    overflow-y: auto;
    padding: 20px 40px;
    box-sizing: border-box;
    font-family: HyperRegular, sans-serif;
    font-size: 30px;
    justify-content: center;
}

.text3{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.3);
}
