@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}
@font-face {
    font-family: "FenulMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(font/FenulStandard-TRIAL-Medium.woff2) format("woff2");
}

.bgimg3{
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
}


.wrapper3{
    width: 100%;
    height: 100vh;
    display: column;
    flex-direction: row;
    z-index: -1;
}

.navigation3{
    display:flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
}



.navtitle3{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.homebtn3{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
}