@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}
@font-face {
    font-family: "FenulMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url("../font/FenulStandard-TRIAL-Medium.woff2") format("woff2");
}

html, body{
    margin: 0;
    padding: 0;
}



.wrapper5{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -1;
    margin:0;
}

.navigation5{
    display:flex;
    width: 100%;
    min-height: 10vh;
    justify-content: space-between;
    position: static;
}



.navtitle5{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.homebtn5{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
}

.cabinetcontainer5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 100%;
    flex-direction: column;
    margin: 50px auto 0; /* top margin only affects cabinet container */
    background-color: #000000;
    box-sizing: border-box;
}

.header5{
    font-family:'FenulMedium','serif';
    color: #DBA111;
}

.cabinet5{
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width:100%;

}
