.section{
    min-height: 100vh; 
    display: flex;
    align-items: center;      
    justify-content: center;        /* each section fills the viewport */
    padding: 4rem;
    box-sizing: border-box;         /* include padding in height */
}

.page{
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;   /* snap to each section */
    overflow-y: scroll;              /* vertical scrolling */
    height: 70vh;                   /* fill the viewport height */
    scroll-behavior: smooth;         /* smooth scrolling */
}

.moving{
    background: rgb(255, 255, 255);
}
.title{
    color: #DBA111;
    font-size: clamp(400px, 19vw, 200px);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
    letter-spacing: -0.05em;
}
    

.text{
    background: #034694;
    margin-right: -1rem;
    margin-left: -1rem;
    height: 30vh;
    margin-bottom: -1rem;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;         /* include padding in height */
}
.archvbtn{
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2 ease;
    margin-top: 2rem;
    border-radius: 10px;
    transition: border-radius 0.3s ease;
}

.archvbtn:hover{
    background-color: #DBA111;
    transform: scale(1.05);
    border-radius: 50px;
}