body{
    background-color: #ffffff;
    padding: 10px;    
    font-family: 'Hanken Grotesk', sans-serif;
    color: #034694;
    font-size: 50px;
    text-align: center;
    line-height: 0.1;
    font-weight: 200;
    letter-spacing: 1px;


} 
h1 {
        text-wrap: balance;
        white-space: nowrap;
        display: block;
        text-align: center;
        letter-spacing: -0.01em;
        margin-top: 10vh;
        margin-bottom: 20vh;
        font-family: "boldonse", sans-serif;
        color: #034694;
        font-size: 200px;
        
    }


.slogan{
    display: block;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    color: #034694;
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
    letter-spacing: -.05em;
}
.styled-button{
    display: block;
    background-color: #dba111;
    color: #ffffff;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5vh;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.button-row{
    display: flex;
    justify-content: center;
    gap: 1rem;          /* space between buttons */
    align-items: center;
    flex-wrap: nowrap;
}
.styled-button:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #dba111
}

.logo{
    margin-top: 10vh;
    margin-bottom: 15vh;
}