    
@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}


.desktop {
  	width: 100%;
  	height: 1510px;
  	position: relative;
  	background-color: #fff;
  	overflow-y: auto;
  	text-align: left;
  	font-size: 48px;
  	color: #000;
}
.chelsea-fc {
  	position: absolute;
  	width: 100%;
  	top: 20px;
  	left: 0px;
    letter-spacing: -0.9rem;
  	font-size: 320px;
  	line-height: 80%;
  	display: flex;
  	align-items: center;
  	height: 490px;
    font-family: "HyperRegular", sans-serif;
}
.chelsea-fc-txt-container {
  	width: 100%;
}
.chelsea {
  	margin: 0;
}
.the-pride-of {
  	position: absolute;
  	top: 694px;
  	left: 9px;
  	font-size: 64px;
  	line-height: 80%;
  	font-weight: 500;
    font-family: "HyperMedium", sans-serif;
}
.history.Btn {
  	position: absolute;
  	top: 1203px;
  	left: 9px;
  	line-height: 80%;
    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}
.team.Btn {
  	position: absolute;
  	top: 1331px;
  	left: 9px;
  	line-height: 80%;
    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}

.archive.Btn {
  	position: absolute;
  	bottom: 13px;
  	left: 9px;
  	line-height: 80%;
    font-family: "HyperMedium", sans-serif;
    text-decoration: none;
    color: black;
}

.Btn:hover{
    text-decoration: none;
    color: #dba111
}

.logo {
  	position: absolute;
  	top: 517px;
  	right: 9px;
  	width: 238px;
  	height: 238px;
  	object-fit: cover;
    font-family: "HyperMedium", sans-serif;
}

