.wrapper{
    display:flex;
    margin: -1vh;
    flex-direction: row wrap;

}
.selection{
    border: solid 10px rgb(255, 97, 97);
}
.uniform{
    display: flex;
    border: solid 10px rgb(97, 189, 255);
    align-items: center;
    justify-content: center;

.image{
    max-height: 70%;
}

}
.number{
    border: solid 10px rgb(97, 255, 130);
}


.selection{
    display:flex;
    flex-direction: column;
    align-items: center;
    order:2;
    flex:2;
    height: 100vh;
}
.img{
    
    display:flex;
    order:1;
    flex:1;
    height: 100vh;
    margin: -1vh;
}

.selector{
    display:flex;
    width: 100%;
    height:50vh;
    
}