
body {
    background-color: #ebe3e3;
    padding: 50px;
    font-family: "kigali-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1{
    text-align: center;
    color: #146AEC;
    font-size: 120px;
    font-style: italic;
}

H3 {
  font-family: 'kigali', sans-serif;
  font-size: 36px;
}

.poem {
  font-family: "kigali-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
}
