* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /* include padding in width */
}

@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}

.wrapper{
    width: 100%;
    height: 100%;
    display: column;
    background-color:rgb(0, 0, 0);
    flex-direction: row;
    z-index: -1;
}

.navigationblack{
    display:flex;;
    position: fixed;
    width: 100%;
    height: 20vh;
    justify-content: space-between;


}

.navtitlewhite{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.btnn{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
}
.header8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    width: 100%;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 70px;
}

.title{
    font-family: 'HyperMedium', sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
}



.playerbigbox{
    display: block;
    width: 100%;
    height: auto;
    background-color: black;
}

.btn{
    width: 100%;
    height: 70px;
    text-align: left;
    font: 'HyperMedium', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(171, 171, 171);
    border-width: 1px;

}

.btn:hover{
    color: rgb(0, 0, 0);
    background-color: #00ffff;
}
