* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}

@font-face {
    font-family: "HyperMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Medium.woff) format("woff2");
}
@font-face {
    font-family: "HyperRegular"; /* This is an arbitrary name -- whatever works for you */
    src: url(/font/00HypertextDisplayNon-Commercial-Regular.woff) format("woff2");
}
@font-face {
    font-family: "FenulMedium"; /* This is an arbitrary name -- whatever works for you */
    src: url(font/FenulStandard-TRIAL-Medium.woff2) format("woff2");
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: column;
    background-color:rgb(255, 255, 255);
    flex-direction: row;
    z-index: -1;
}

.navigation10{
    display:flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    background-color:white;
}



.navtitle10{
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.homebtn10{
    display:flex;
    font-family: 'HyperMedium', sans-serif;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
}

.introtextcontainer1{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.introheader1{
    font-family: 'FenulMedium', serif;
    font-size: 90px;
    color: #000000;
    margin-bottom: 20px;
}

.introparagraph1{
    font-family: 'HyperRegular', sans-serif;
    font-size: 24px;
    color: #000000;
    width: 60%;
    text-align: center;
}

