body{
    background-color: #034694;
    padding: 10px;    
   @import url(https://fonts.googleapis.com/css?family=Faculty+Glyphic:regular);
    font-family: 'faculty glyphic';
    color: white;
    font-size: 100px;
    text-align: center;
    line-height: 0.1;
    font-weight: 200;
    letter-spacing: 1px;

} 
h1 {
        white-space: nowrap;
        display: inline-block; /* optional: prevents full-width line breaks */
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

.styled-button{
    background-color: #dba111;
    color: #ffffff;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-row{
    display: flex;
    justify-content: center;
    gap: 1rem;          /* space between buttons */
    align-items: center;
    flex-wrap: nowrap;
}
.styled-button:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #dba111
}

.logo{
    margin-top: 10vh;
    margin-bottom: 5vh;
}